<div class="content">
    <div class="container allrepos ">
        <div class="card" style="width: 22rem;" class="repo" *ngFor='let repo of searchRepo.newRepo'>
            <div class="card-body">
                <h5 class="card-title"><span class="top">Repo Name:</span> &nbsp;{{repo.name}} </h5>
                <div class="card-text">
                    <hr>
                    <div class="desc"><span class="top">Description:</span> &nbsp;{{repo.description}}
                    </div>
                    <hr>
                    <div class="card-subtitle mb-2">
                        <span class="top">Language: </span> {{repo.language}}
                    </div>
                    <div class="card-subtitle mb-2"><span class="top">Created:&nbsp; <span id="created">{{repo.created_at
                            |date|dateCount}}</span> &nbsp; On:</span>
                        &nbsp;{{repo.created_at | date}}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group" aria-label="Third group">
                    <button class="btn btn-sm btn-outline-info">
                    <i class="fa fa-eye" style="font-size:16px"></i> &nbsp;
                    <span class="forks">{{repo.watchers_count}}</span>
                </button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button class="btn btn-sm btn-outline-danger">
                    <i class="fa fa-code-fork" style="font-size:16px"></i> &nbsp;
                    <span class="forks">{{repo.forks}}</span>
                </button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <a href="{{repo.html_url}}" class="card-link" target="_blank">
                        <button class="btn btn-sm btn-outline-success" id="visit">
                        VIEW &nbsp; <i class="fa fa-arrow-circle-right" style="font-size:16px"></i>
                    </button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>