<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <form class="form-inline" #searchForm='ngForm' ngNativeValidate>
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Github Username e,g Alvynah...." name="search" aria-label="Search">
                    <button class="btn btn-info  btn-sm"> <i class="fab fa-search" aria-hidden="true"></i>
                        Search</button>
                </form>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <h1 class="text-center">User Profile</h1>
    <div class="container details">
        <div class="row">
            <div class="col-md-4" id="imgcard">
                <div class="userimage">
                    <div class="card-img-top">
                        <img src="{{user.profile}}" alt="profile Pic" height="250px" width="100%">
                    </div>
                    <div class="card-body">
                        <span class="name"><i class="fa fa-user" style="font-size:20px"></i> &nbsp;{{user.login|uppercase}}</span>
                        <a href="{{user.htmlUrl}}" target="_blank">
                            <button class=" btn btn-sm">
                                <i class="fab fa-github" style="font-size:20px"></i>
                                 &nbsp;Github
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 user">
                <div class="card userCard">
                    <div class="card-body">
                        <h4>Username: {{user.login}}</h4>
                        <hr>
                        <a pageScroll href="#repository">
                            <p><i class="fa fa-file" style="font-size:18px"></i>&nbsp;&nbsp; Repositories:&nbsp;&nbsp;{{user.repos}}</p>
                        </a>
                        <hr>
                        <p> <i class="fa fa-user" style="font-size:18px"></i>&nbsp;&nbsp; Following:&nbsp;&nbsp;{{user.following}}</p>
                        <hr>
                        <p> <i class="fa fa-users" style="font-size:18px"></i>&nbsp;&nbsp; Followers:&nbsp;&nbsp;{{user.followers}}</p>
                        <hr>
                        <p><i class="fa fa-clock" style="font-size:18px"></i>&nbsp;&nbsp; Joined:&nbsp;&nbsp;{{user.createdAt | date:'short'|lowercase}}</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-center" id="repository">User Repositories</h1>
    <div class="container allrepos ">
        <div class="card" style="width: 22rem;" class="repo" *ngFor='let repo of searchRepo.newRepo'>
            <div class="card-body">
                <h5 class="card-title"><span class="top">Repo Name:</span> &nbsp;{{repo.name}} </h5>
                <div class="card-text">
                    <hr>
                    <div class="desc"><span class="top">Description:</span> &nbsp;{{repo.description}}
                    </div>
                    <hr>
                    <div class="card-subtitle mb-2">
                        <span class="top">Language: </span> {{repo.language}}
                    </div>
                    <div class="card-subtitle mb-2"><span class="top">Created:&nbsp; <span
                                id="created">{{repo.created_at | date}}</span> &nbsp; On:</span>
                        &nbsp;{{repo.createdAt | date}}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group" aria-label="Third group">
                    <button class="btn btn-sm btn-info">
                        <i class="fa fa-eye" style="font-size:16px"></i> &nbsp;
                        <span class="forks">{{repo.watchers_count}}</span>
                    </button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button class="btn btn-sm btn-outline-danger">
                        <i class="fa fa-code-fork" style="font-size:16px"></i> &nbsp;
                        <span class="forks">{{repo.forks}}</span>
                    </button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button class="btn btn-sm btn-success" id="visit">
                        <a href="{{repo.html_url}}" class="card-link" target="_blank">VIEW &nbsp; 
                            <i class="fa fa-arrow-circle-right" style="font-size:16px"></i>
                        </a>
                     </button>
                </div>
            </div>
        </div>

    </div>
</div>