.content {
    margin-top: 200px;
}

button {
    background-color: rgb(130, 209, 12);
}

input:hover ::placeholder {
    color: rgb(130, 209, 12);
}

.btn {
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 5%;
}

.btn:hover {
    transform: scale(1.05)
}

.details {
    padding-top: 10px;
    margin-bottom: 0%;
    border-radius: 2%;
    border-top: 1px solid black;
}

.userCard {
    height: 300px;
    width: auto;
}

.reposList:hover {
    transform: scale(2)
}

.card {
    box-shadow: 10px, 10px, 10px, grey;
}

.repo {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-bottom: 2%;
    border-radius: 4px;
    box-shadow: 10px 10px 10px black;
}

hr {
    background-color: black;
    height: 1 px;
}

.allrepos {
    padding-top: 10px;
    border-radius: 2%;
    border-top: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn-group {
    margin-left: 3%;
}